<template>
  <figure class="image">
    <img src="../assets/img/logoMenu.png" alt="teste">
  </figure>
</template>

<style lang="scss" scoped>
  @import "../assets/sass/extend.sass";

  .image {
    max-width: 150px;
    margin: $space auto;
  }
</style>

